:root {
  --color-primary: #4fc3f7;
  --color-secondary: #03a9f4;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table,
tr,
td,
th,
thead {
  border-radius: 0;
}

footer {
  position: absolute;
  width: 100%;
}

a.btn_icons {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}
a.btn_icons:hover {
  transition: 0.2s;
  transform: scale(0.9);
}

.toast.rounded.green {
  bottom: 15px;
  top: auto !important;
  position: fixed;
  left: 0;
  right: 0;
  width: 20%;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.confirm_box .modal-footer {
  display: flex;
  justify-content: end;
}

.confirm_box .modal-footer > a {
  display: flex;
  width: 120px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

a.edit_confirm {
  position: relative;
  margin-left: 10px;
}

a.edit_confirm i {
  position: absolute;
  left: 6px;
  transition: 0.5s;
}

a.edit_confirm span + i {
  opacity: 0;
}

a.edit_confirm span {
  transition: 0.5s;
  transform: translateX(10px);
}

a.edit_confirm:hover i {
  transition: 0.5s;
  opacity: 0;
}

a.edit_confirm:hover span + i {
  transition: 0.5s;
  right: 10px;
  opacity: 1;
  left: auto;
}

a.edit_confirm:hover span {
  transition: 0.5s;
  transform: translateX(-10px);
}

.pagi_sec {
  margin: 30px 0;
  text-align: center;
}

.pagi_sec .pagination li.active {
  background-color: var(--color-secondary);
}

@media only screen and (min-width: 600px) {
  .confirm_box {
    width: 30%;
  }
  .confirm_box {
    height: 50% !important;
    top: 20% !important;
  }
}
