*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table,
tr,
td,
th,
thead {
  border-radius: 0;
}

a.btn_icons {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
}
a.btn_icons:hover {
  transition: 0.2s;
  transform: scale(0.9);
}

.toast.rounded.green {
  bottom: 15px;
  top: auto !important;
  position: fixed;
  left: 0;
  right: 0;
  width: 20%;
  text-align: center;
  margin: auto;
  justify-content: center;
}

.confirm_box .modal-footer {
  display: flex;
  justify-content: end;
}

.confirm_box .modal-footer > a {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

@media only screen and (min-width: 600px) {
  .confirm_box {
    width: 30%;
  }
  .confirm_box  {
    height: 50% !important;
    top: 20% !important;
  }
}
